
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{ "/img/ofbiz_logo.png" | relURL }}" alt="Appache Ofbiz logo" class="br0 db mb0 w-50" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "modules" | relURL }}">Modules</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ "post" | relURL }}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "products" | relURL }}">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "downloads" | relURL }}">Downloads</a>
          </li>

        </ul>
        
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
              <li class="nav-item col-6 col-md-auto">
                <i class="nav-link p-2 fab fa-github"></i>
              </li>
                <li class="nav-item col-6 col-md-auto">
                  <i class="nav-link p-2 fab fa-twitter"></i>
                </li>
                <li class="nav-item col-6 col-md-auto">
                  <i class="nav-link p-2 fab fa-linkedin-in"></i>
                </li>
                <li class="nav-item col-6 col-md-auto">
                  <i class="nav-link p-2 fab fa-youtube"></i>
                </li>
              </ul>
       
      </div>
    </div>
  </nav>